<div class="container">
  <h1 class="text-center">Get inspired and create you own Quotes</h1>
  <hr />

  <div class="row">
    <div class="col-lg-5 col-md-6">
      <!--display quote -->

      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <app-quote></app-quote>
          </p>
          <a href="#" class="btn btn-outline-secondary">Quote Details</a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6"></div>
  </div>
</div>
