<div class="container-fluid">
  <h2 class="text-center">Create a new Quote</h2>
  <hr />
  <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
    <div class="form-group">
      <label for="insertQuote">Insert Quote</label>
      <textarea
        id="quote"
        class="form-control"
        rows="4"
        placeholder="Insert Quote here.."
        required
        [(ngModel)]="newQuote.quote"
        name="quote"
        #quote="ngModel"
      >
      </textarea>

      <div
        [hidden]="author.valid || author.pristine"
        class="alert alert-danger"
      >
        <p>This input is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Author :</label>
      <input
        id="author"
        name="author"
        #author="ngModel"
        class="form-control"
        type="text"
        placeholder="Insert Author's Name"
        required
        [(ngModel)]="newQuote.author"
      />

      <div
        [hidden]="author.valid || author.pristine"
        class="alert alert-danger"
      >
        <p>This input is required</p>
      </div>
    </div>

    <div class="form-group">
      <!-- submittedByInput -->
      <label for="submittedBy">Submitted By</label>
      <input
        id="submittedBy"
        name="submittedBy"
        #submittedBy="ngModel"
        class="form-control"
        type="text"
        placeholder="Insert your name here"
        required
        [(ngModel)]="newQuote.submittedBy"
      />

      <!-- form validation -->
      <div
        [hidden]="submittedBy.valid || submittedBy.pristine"
        class="alert alert-danger"
      >
        <p>This input is required</p>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
