<!--Navigation-->
<nav id="nav-main" class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a id="logo" class="logo" href="./about.html"
      ><img src="assets/logo.png" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./about.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:ekagwima745@gmail.com">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
<br />
<!--Jumbotron-->
<div id="jumbotron" class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <h3>What we do</h3>
      <p class="lead">
        This WebApp allows you to create quotes and have those quotes voted on
        whether they are terrible or are inspirational. You are able to enter
        the quote,the quote's Author and your name through a form input and
        submit the details.
      </p>
    </div>
  </div>
</div>

<div id="landing" class="container-fluid text-center">
  <br />
  <div class="row">
    <div id="cards-display" class="col-lg-9">
      <!--display quotes-->
      <div id="quote-text" class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let quote of quotes; let i = index">
            <div class="card">
              <div id="card-image" class="card-body">
                <p class="card-text">" {{ quote.quote }}</p>
                <hr />
              </div>
              <div class="card-footer">
                <app-quote-details
                  *ngIf="quote.showDescription"
                  [quote]="quote"
                  (isComplete)="deleteQuote($event, i)"
                ></app-quote-details>

                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <p>~AUTHOR :{{ quote.author }}</p>
                      <p>Submited {{ quote.date | timePassed }}</p>
                      <a
                        (click)="toggleDetails(i)"
                        class="btn btn-outline-secondary"
                        >More Details</a
                      >
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-6">
                      <a
                        (click)="upVote(quote)"
                        id="vote"
                        class="btn btn-success"
                      >
                        upvote : {{ quote.upvote }}
                      </a>
                    </div>
                    <div class="col-6">
                      <a
                        (click)="downVote(quote)"
                        id="vote"
                        class="btn btn-danger"
                      >
                        downvote : {{ quote.downvote }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <!--display form--->

      <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
    </div>
  </div>
</div>

<!--footer-->
<div id="footer" class="container-fluid">
  <div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <hr />
      <h5>Developed by Eston</h5>
      <img src="assets/logo.png" alt="logo" class="img-fluid" />
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
