#card-image {
  background-image: url(../../assets/background.jpg);
}
#quote-text {
  font-family: "Patrick Hand", cursive;
  font-size: large;
  opacity: 0.7;
}
.card :hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
