<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <br />
  <div id="quote-text" class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let quote of quotes; let i = index">
        <div class="card">
          <div id="card-image" class="card-body">
            <p class="card-text">" {{ quote.quote }}</p>
            <hr />
          </div>
          <div class="card-footer">
            <app-quote-details
              *ngIf="quote.showDescription"
              [quote]="quote"
              (isComplete)="deleteQuote($event, i)"
            ></app-quote-details>

            <div class="container">
              <div class="row">
                <div class="col-12">
                  <p>Published: {{ quote.date | timePassed }}</p>
                  <a
                    (click)="toggleDetails(i)"
                    class="btn btn-outline-secondary"
                    >Quote Details</a
                  >
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-6">
                  <a id="vote" class="btn btn-success"> upvote </a>
                </div>
                <div class="col-6">
                  <a id="vote" class="btn btn-danger"> downvote </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
