<div *ngFor="let quote of quotes">
  <div id="quote-text" class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div id="card-image" class="card-body">
            <p class="card-text">" {{ quote.quote }}</p>
            <hr />
          </div>
          <div class="card-footer">
            <app-quote-details [quote]="quote"></app-quote-details>
            <a href="#" class="btn btn-outline-secondary">Quote Details</a>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
