@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
body {
  background-image: url(.//assets/background2.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}
